@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  background-color: --#{variables.$prefix}-body-background;
  color: --#{variables.$prefix}-text-color;
}
